[project]
	description = windows basic functions and class
[access "refs/*"]
	owner = group user/lbsloveldm (lbsloveldm)
[access "refs/for/refs/*"]
	read = group user/lbsloveldm (lbsloveldm)
	push = group user/lbsloveldm (lbsloveldm)
	label-Code-Review = -2..+2 group user/lbsloveldm (lbsloveldm)
	label-Verified = -1..+1 group user/lbsloveldm (lbsloveldm)
	rebase = group user/lbsloveldm (lbsloveldm)
	removeReviewer = group user/lbsloveldm (lbsloveldm)
	submit = group user/lbsloveldm (lbsloveldm)
[access "refs/heads/*"]
	read = group user/lbsloveldm (lbsloveldm)
	create = group user/lbsloveldm (lbsloveldm)
	push = +force group user/lbsloveldm (lbsloveldm)
	pushMerge = group user/lbsloveldm (lbsloveldm)
[access "refs/tags/*"]
	push = +force group user/lbsloveldm (lbsloveldm)
	pushTag = group user/lbsloveldm (lbsloveldm)
	pushSignedTag = group user/lbsloveldm (lbsloveldm)
